---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import CtaButton from '../components/CtaButton.astro';
import '@splidejs/splide/css';
---

<Layout title="Pawprint Photography" headerShadow={false}>
	<main>
    <section class="splide" id="hero-carousel" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide" data-splide-interval="5000">
            <picture>
              <source media="(max-width: 599px)" srcset="/pet-photography-site/images/heroadjusted.jpeg" />
              <source media="(min-width: 600px)" srcset="/pet-photography-site/images/2LsSEal.jpeg" />
              <img src="/pet-photography-site/images/2LsSEal.jpeg"/>
            </picture>
          </li>
          <li class="splide__slide" data-splide-interval="5000">
            <img src="/pet-photography-site/images/cat-5778777_1920.jpg"/>
          </li>
          <li class="splide__slide" data-splide-interval="5000">
            <img src="/pet-photography-site/images/guinea-pig-2513177_1920.jpg"/>
          </li>
        </ul>
      </div>
    </section>
    <section class="intro">
      <h1>Celebrate your Furry Friends</h1>
      <h2>Capture precious memories to cherish forever</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi earum sed quam assumenda eveniet ut et. A ex quisquam necessitatibus? Officia saepe hic temporibus quos eveniet quas numquam odio repudiandae?</p>
    </section>
    <section class="card-container">
      <Card hasBorder={false}, isOrange={true}, img={'/pet-photography-site/images/ndAebZM.png'}, heading="Heading", text='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus quam, consequat vel sollicitudin ut, faucibus non eros. Donec ut magna luctus, pellentesque magna nec, lobortis lacus.'></Card>
      <Card hasBorder={false}, isOrange={true}, img={'/pet-photography-site/images/kpepfML.png'}, heading="Heading", text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus quam, consequat vel sollicitudin ut, faucibus non eros. Donec ut magna luctus, pellentesque magna nec, lobortis lacus."></Card>
      <Card hasBorder={false}, isOrange={true}, img={'/pet-photography-site/images/wN2MhJT.png'}, heading="Heading", text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus quam, consequat vel sollicitudin ut, faucibus non eros. Donec ut magna luctus, pellentesque magna nec, lobortis lacus."></Card>
    </section>
    <section class="cta">
      <h2>Let us help you make those unforgettable memories with your pets last forever</h2>
      <CtaButton/>
    </section>
    <section class="testimonials">
      <h2>We have helped over 100 satisfied pet owners capture their memories</h2>
      <section class="splide" id="testimonials" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="testimonials__card">
                <img src="/pet-photography-site/images/wN2MhJT.png" width="50px" height="50px">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus quam, consequat vel sollicitudin ut, faucibus non eros. Donec ut magna luctus, pellentesque magna nec, lobortis lacus.</p>
              </div>
            </li>
            <li class="splide__slide">
              <div class="testimonials__card">
                <img src="/pet-photography-site/images/wN2MhJT.png" width="50px" height="50px">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus quam, consequat vel sollicitudin ut, faucibus non eros. Donec ut magna luctus, pellentesque magna nec, lobortis lacus.</p>
              </div>
            </li>
            <li class="splide__slide">
              <div class="testimonials__card">
                <img src="/pet-photography-site/images/wN2MhJT.png" width="50px" height="50px">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus quam, consequat vel sollicitudin ut, faucibus non eros. Donec ut magna luctus, pellentesque magna nec, lobortis lacus.</p>
              </div>
            </li>
            <li class="splide__slide">
              <div class="testimonials__card">
                <img src="/pet-photography-site/images/wN2MhJT.png" width="50px" height="50px">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus quam, consequat vel sollicitudin ut, faucibus non eros. Donec ut magna luctus, pellentesque magna nec, lobortis lacus.</p>
              </div>
            </li>
            <li class="splide__slide">
              <div class="testimonials__card">
                <img src="/pet-photography-site/images/wN2MhJT.png" width="50px" height="50px">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus quam, consequat vel sollicitudin ut, faucibus non eros. Donec ut magna luctus, pellentesque magna nec, lobortis lacus.</p>
              </div>
            </li>
          </ul>
        </div>
    </section>
    </section>
	</main>
</Layout>

<style>
  img {
    width: 100%;
    height: 90dvh;
    object-fit: cover;
  }
  #hero-carousel {
    width: 100%;
    height: 90dvh;
    margin-bottom: var(--padding-large);
  }
  .splide_slide {
    width: 100%;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-container
   {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    padding: var(--padding-large);
  }
  h1, h2 {
    color: var(--green);
    text-align: center;
    padding-inline: 0.5rem;
  }
  .intro p {
    margin-top: var(--padding-small);
    max-width: 60ch;
    color: var(--green);
    padding-inline: var(--padding-medium);
    text-align: center;
  }
  .intro h1 {
    font-size: 2rem; 
  }
  .intro h2 {
    font-size: 1.5rem;
  }
  .cta {
    padding: var(--padding-medium) 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-green);
    justify-content: center;
    align-items: center;
    gap: var(--padding-medium);
  }
  .cta h2 {
    max-width: 60ch;
    color: white;
  }
  .testimonials {
    margin-block: var(--padding-large);
    width: 100%;
    max-width: 1000px;
  }
  .testimonials h2 {
    margin-bottom: var(--padding-large);
    color: var(--orange)
  }
  .testimonials__card {
    display: flex;
    margin-top: 1px;
    border: 1px solid black;
    box-shadow: 4px 4px 4px rgb(0 0 0 /20%);
    & img {
      width: 20%;
      height: 20%;
    }
    & p {
      height: 300px;%;
    }
  }
  @media (max-width: 750px) {
    .card-container {
      padding: var(--padding-large) 1rem;
    }
  }
  @media (max-width: 650px) {
    .card-container {
      flex-direction: column;
      align-items: center;
    }
    .intro h2 {
      display: none;
    }
  @media (max-width: 400px) {
    .card-container {
      padding: var(--padding-large) 0.5rem;
    }
  }
  }
</style>

<script>
  import Splide from '@splidejs/splide';

  new Splide( '#hero-carousel', {
    width: '100%',
    autoplay: true,
    type: 'loop',
    speed: 900,
  } ).mount();

  new Splide( '#testimonials', {
    width: '100%',
    perPage: 3,
    gap: '2.5rem',
    padding: '2.4rem',
    height: 'auto',
    type: 'loop',
    breakpoints : {
      850: {
        perPage: 2,
      },
      550: {
        perPage: 1,
      }
    }
  }).mount();
  
</script>