---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import CtaButton from '../components/CtaButton.astro';
import '@splidejs/splide/css';
---

<Layout title="Pawprint Photography" headerShadow={false}>
	<main>
    <section class="splide" id="hero-carousel" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide" data-splide-interval="5000">
            <picture>
              <source media="(max-width: 599px)" srcset="/pet-photography-site/images/heroadjusted.jpeg" />
              <source media="(min-width: 600px)" srcset="/pet-photography-site/images/pexels-chevanon-1108099.jpg" />
              <img src="/pet-photography-site/images/pexels-chevanon-1108099.jpg"/>
            </picture>
          </li>
          <li class="splide__slide" data-splide-interval="5000">
            <img src="/pet-photography-site/images/cat-5778777_1920.jpg"/>
          </li>
          <li class="splide__slide" data-splide-interval="5000">
            <img src="/pet-photography-site/images/guinea-pig-2513177_1920.jpg"/>
          </li>
        </ul>
      </div>
    </section>
    <section class="intro">
      <h1>Celebrate your Furry Friends</h1>
      <h2>Capture precious memories to cherish forever</h2>
      <p>Have you ever wanted to see just how cute your pets could look with a bit of a professional touch? We are a family-owned business with years of experience in animal photography. Our goal is to highlight the uniqeness of your cuddly friends and the special connection you have with them. We also offer various packages and services for your specific needs.</p>
    </section>
    <section class="card-container">
      <Card hasBorder={false}, isOrange={true}, img={'/pet-photography-site/images/ndAebZM.png'}, heading="Preserve Memories", text='Make sure your memories are acessible whenever you want to revist them. Browse your image gallery on any device or purchase prints to frame and display.'></Card>
      <Card hasBorder={false}, isOrange={true}, img={'/pet-photography-site/images/kpepfML.png'}, heading="Express Personality", text="All pets have their own unique personalities. Our extensive collection of props and potential settings helps us display them in a memorable way."></Card>
      <Card hasBorder={false}, isOrange={true}, img={'/pet-photography-site/images/boy_dog.jpg'}, heading="Capture Friendship", text="Let us shine a light on the strong bond between you and your pet. Choose from a list of poses or simply show off your natural interactions for the camera."></Card>
    </section>
    <section class="cta">
      <h2>Let us help you make those unforgettable moments with your pets last forever</h2>
      <CtaButton/>
    </section>
    <section class="testimonials">
      <h2>Over 100 pet owners satisfied with our service</h2>
      <section class="splide" id="testimonials" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="testimonials__card">
                <img src="/pet-photography-site/icons/profile_1.svg" width="50px" height="50px">
                <p>Very professional service, passion and love towards animals comes through in every detail and the quality of the photographs is stunning. Our pet chihuahua felt very comfortable and safe through the whole shoot.</p>
              </div>
            </li>
            <li class="splide__slide">
              <div class="testimonials__card">
                <img src="/pet-photography-site/icons/profile_2.svg" width="50px" height="50px">
                <p>Worth every penny. My wife was the one who came up with the idea of getting a professional photoshoot for our kittens, I was skeptical but the results are incredible. There's no way we could ever capture their cuteness quite like Pawprint Photography did.</p>
              </div>
            </li>
            <li class="splide__slide">
              <div class="testimonials__card">
                <img src="/pet-photography-site/icons/profile_3.svg" width="50px" height="50px">
                <p>
                  I cannot recommend Pawprint enough. Our dog was scared and stressed at first (she's not good with strangers), but the patience and care shown by the photographer helped so much. The photoshoot took a bit longer beacuae of that, but there were no extra fees or issues as a result.</p>
              </div>
            </li>
            <li class="splide__slide">
              <div class="testimonials__card">
                <img src="/pet-photography-site/icons/profile_4.svg" width="50px" height="50px">
                <p>5 star service. Great with animals and with children, our whole family pictures came out absolutely incredible.</p>
              </div>
            </li>
            <li class="splide__slide">
              <div class="testimonials__card">
                <img src="/pet-photography-site/icons/profile_5.svg" width="50px" height="50px">
                <p>Great service at a really reasonable price. My hamster has never looked this adorable on any of the pictures I've ever took.
                </p>
              </div>
            </li>
            <li class="splide__slide">
              <div class="testimonials__card">
                <img src="/pet-photography-site/icons/profile_6.svg" width="50px" height="50px">
                <p>My dog is getting up there in years, so I wanted to make sure to have something to remember him by. Pawprint delivered, not only are the photos amazing but it feels like every little aspect of my dog's personality has been captured.</p>
              </div>
            </li>
          </ul>
        </div>
    </section>
    </section>
	</main>
</Layout>

<style>
  img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
  }
  #hero-carousel {
    width: 100%;
    height: 90vh;
    margin-bottom: var(--padding-large);
  }
  .splide_slide {
    width: 100%;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-container
   {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    padding: var(--padding-large);
  }
  h1, h2 {
    color: var(--green);
    text-align: center;
    padding-inline: 0.5rem;
  }
  .intro p {
    margin-top: var(--padding-small);
    max-width: 1000px;
    color: var(--green);
    padding-inline: var(--padding-medium);
    text-align: center;
  }
  .intro h1 {
    font-size: 2rem; 
  }
  .intro h2 {
    font-size: 1.5rem;
  }
  .cta {
    padding: var(--padding-medium) 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-green);
    justify-content: center;
    align-items: center;
    gap: var(--padding-medium);
  }
  .cta h2 {
    max-width: 60ch;
    color: white;
  }
  .testimonials {
    margin-block: var(--padding-large);
    width: 100%;
    max-width: 1000px;
  }
  .testimonials h2 {
    margin-bottom: var(--padding-large);
    color: var(--orange)
  }
  .testimonials__card {
    display: flex;
    margin-top: 1px;
    border: 1px solid black;
    padding: 0.5rem;
    gap: 0.5rem;
    box-shadow: 4px 4px 4px rgb(0 0 0 /20%);
    & img {
      width: 20%;
      height: 20%;
      flex-shrink: 0;
    }
    & p {
      height: 320px;%;
    }
  }
  @media (max-width: 750px) {
    .card-container {
      padding: var(--padding-large) 1rem;
    }
  }
  @media (max-width: 650px) {
    .card-container {
      flex-direction: column;
      align-items: center;
    }
    .intro h2 {
      display: none;
    }
  @media (max-width: 400px) {
    .card-container {
      padding: var(--padding-large) 0.5rem;
    }
  }
  }
</style>

<script>
  import Splide from '@splidejs/splide';

  new Splide( '#hero-carousel', {
    width: '100%',
    autoplay: true,
    type: 'loop',
    speed: 900,
  } ).mount();

  new Splide( '#testimonials', {
    width: '100%',
    perPage: 3,
    gap: '2.8rem',
    padding: '2.4rem',
    height: 'auto',
    type: 'loop',
    breakpoints : {
      850: {
        perPage: 2,
      },
      550: {
        perPage: 1,
      }
    }
  }).mount();
  
</script>